.container {
  min-height: 400px;
  padding: 2em 10px;
  text-align: center;
  flex-grow: 1;
}

@media only screen and (min-width: 736px) {
  .container {
    position: relative;
  }
}

@media only screen and (min-width: 480px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.description {
  display: block;
  font-weight: 400;
  font-size: 50%;
  line-height: 1em;
  margin: 0.7em 0 1.3em;
}

.buttonsContainer {
  display: flex;
  font-size: 125%;
  line-height: 1.6em;
  position: relative;
  z-index: 99;
  padding: 10px 0;
  justify-content: center;
}

.buttonContainer {
  display: block;
  padding: 0 2px;
}

.title {
  color: #202020;
  font-size: 250%;
  line-height: 1em;
}

@media only screen and (min-width: 480px) {
  .title {
    font-size: 300%;
    margin: 0.3em 0;
  }
}
