node_modules/
**/coverage
packages/website/dist
.next
.turbo
next-env.d.ts
packages/web-linter/out
packages/website/out
packages/website/src/docs/rules/**/*.html
packages/website/src/out/**/*.html
packages/**/dist
*.tsbuildinfo
packages/parser/types
.parcel-cache/
.pnp.*
.yarn/*
packages/**/.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
