node_modules/
**/coverage
packages/website/dist
.next
.turbo
next-env.d.ts
packages/web-linter/out
packages/website/out
packages/website/src/docs/**/*.html
packages/website/src/out/**/*.html
packages/**/dist
*.tsbuildinfo
.parcel-cache/
.pnp.*
.yarn/*
packages/**/.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.DS_Store

integration-test-projects/**/*.yarn
packages/template-syntax-parser/types
packages/template-parser/types
packages/parser/types
packages/eslint-plugin/types
packages/eslint-plugin-react/types
packages/eslint-plugin-angular-template/types


# Workflow fixtures
.github/workflows/fixtures/**/node_modules
.github/workflows/fixtures/**/.yarn
.github/workflows/fixtures/**/yarn.lock
.github/workflows/fixtures/**/package-lock.json
.github/workflows/fixtures/**/pnpm-lock.yaml

