**/coverage
**/fixtures
**/__snapshots__
lerna.json
packages/website/out
packages/website/src/out
packages/website/**/*.html
packages/web-linter/out
.next
dist
**/dist
.yarn/releases
yarn.lock

# generated types
packages/parser/types
packages/eslint-plugin/types
