**/coverage
**/fixtures
**/__snapshots__
lerna.json
packages/website/
packages/web-linter/out
.next
dist
**/dist
.yarn/releases
yarn.lock
.turbo

# generated types
packages/**/types
packages/eslint-plugin/tests/e2e/**/*.html
integration-test-projects
