**/coverage
**/fixtures
**/__snapshots__
lerna.json
packages/website/
packages/web-linter/out
dist
**/dist
.yarn/releases
yarn.lock
.turbo

packages/eslint-plugin/tests/e2e/**/*.html
integration-test-projects
