@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.markdown-body {
  flex: auto;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 40px 10px 100px 10px;
}

@media (min-width: 768px) {
  .markdown-body {
    padding: 40px 20px 100px 20px;
  }
}
.editor_error {
  text-decoration: underline dashed red;
}
