.ply_container {
  padding: 0;
}

.ply_container li {
  list-style: none;
}

.ply_container ul {
  padding-left: 0px;
}

.ply_row {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.ply_pane {
  flex: 1;
  width: 100%;
  min-height: 300px;
}

@media (min-width: 992px) {
  .ply_row {
    flex-direction: row;
  }

  .ply_pane {
    width: 50%;
  }
}

.editor_error {
  text-decoration: underline dashed red;
}

.code_container {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 300px;
  box-sizing: content-box;
  background: #f5f5f5;
  font-size: medium;
}

.code_container pre {
  padding: 6px;
}

.tabs_titles {
  list-style: none;
  padding: 0px;
  margin: 0;
}

.tab_title {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  margin-left: 1px;
  border: 1px solid transparent;
}

.tab_title--active {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  border-radius: 4px 4px 0 0;
}
